{% extends "layout.html" %}

{% block content %}
<h2>Use your AML Service to find the cluster to which a company belongs given it's description...</h2>
<form method=post>
    <dl>
        <p>
            <h3>Company Title</h3>
            This is only for your data entry purposes and is not used in the clustering process (remember clustering is unsupervised and we do not give it any labels; Category is not used either)<br />
            {{form.title}}
        </p>

        <p>
            <h3>Text Description</h3> 
            This is the data that will be fed to the AML web service with a feature extractor (N-Gram based vocabulary) and upon which clustering will be performed with a k-means algorithm (max characters for this description is 1000)<br /><br />
            Try phrases like "We are a bank and perform transactions", "We are children's hospital" or "We sell rubber duckies"<br /><br />
            {{form.text}}
        </p>
    </dl>
    <p><input type="submit" value="submit"</p>
 </form>
{% endblock %}